.services-info
    .container
        .service-info__course
            span.container__title Почему необходимо обслуживать сайт
            span.container__title._little Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации.<br>Разнообразный и богатый опыт рамки и место обучения кадров позволяет оценить значение направлений прогрессивного развития. <br> Равным образом консультация с широким активом требуют от нас анализа системы обучения кадров, соответствует насущным потребностям.
.circle-line
    img(src="image/line-circle.png")