doctype html
html
	head
		meta(charset="UTF-8")
		title SEO Audit
		//bower:css
		//endbower
		link(href="./fonts/font.css", rel="stylesheet")
		link(href="./css/main.css", rel="stylesheet")
		script(src="https://use.typekit.net/hnn0siz.js")
		script(src="./bower_components/jquery/dist/jquery.js")
		script(src="./bower_components/swiper/dist/js/swiper.js")
		script(src="./js/hidden-box.js")
		script(src="./js/phone-menu.js")
body




