.seo-audit
	.seo-audit_content
		.container
			.section
				.seo-audit-content_text
					span.container__title SEO-Аудит
					span._little Равным образом постоянный количественный рост и сфера нашей активности требуют от нас анализа существенных финансовых и административных условий. Разнообразный и богатый опыт новая модель организационной деятельности в значительной степени обуславливает создание дальнейших направлений развития. Разнообразный и богатый опыт начало повседневной работы по формированию позиции играет важную роль в формировании дальнейших направлений развития. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке направлений прогрессивного развития.
		.seo-audit-content_img
			img(src="./image/seo-audit-hand.png")
	.seo-audit_shema
		.container
			.section
				.seo-audit_shema-img
					img(src="./image/seo-audit-shema.png")
	.advance-order-form
		.order-form
			.container
				.order-form__text
					span.container__title._little Равным образом постоянный количественный рост и сфера нашей активности требуют от нас анализа существенных финансовых и административных условий. Разнообразный и богатый опыт новая модель организационной деятельности в значительной степени обуславливает создание дальнейших направлений развития. Разнообразный и богатый опыт начало повседневной работы по формированию позиции играет важную роль в формировании дальнейших направлений развития. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке направлений прогрессивного развития.
				.order-form__form
					span.container__title Заказать SEO-Аудит
					form
						.area-input
							input(placeholder="Фамилия, Имя, Отчество")
							input(placeholder="Организация")
							input(placeholder="Контактный телефон или E-mail")
						.area-textarea
							textarea(placeholder="Сообщение")
						.container__title__button
							button Отправить
