.main-content
    .container
        .section
            .idea
                .left
                .right
                    span.idea-title У нас всегда найдется для вас идея!
                    span.idea-subtitle Мы готовы предложить вам оптимальное решение!
                    p Разработка больших и сложных проектов - наш конек. Мы любим сложности, и сталкиваемся с ними ежедневно. Опишите нам Ваш бизнес и мы придумаем лучший подход, чтобы получить самый лучший результат.
                    p.
                        Эта заявка Вас ни к чему не обязывает - мы просто дадим свое предложение (ответом на Email) на комплексное продвижение Вашего бизнеса.
                        Разработка презентации, прототипа, дизайна и любых макетов в "бесплатных рамках" не предусмотрено.
            span.title Наша миссия
            span.text-content Взять на себя все дела вашей организации в сфере интернет-маркетинга, автоматизировать бизнес-процессы и сделать рутинную офисную
            span.text-content работу лучше!
            .main-blocks
                .block-link(style={background: 'url("./image/our-works.png") no-repeat'})
                    .text
                        span Наши самые яркие работы!
                        span Создание качественных сайтов основное направление компании!
                        a(href="/") Смотреть все работы >
                .block-link(style={background: 'url("./image/book.png") no-repeat, #d1d1d1'})
                    .text
                        span Обучение и стажировка
                        span Если вы не имеете достаточного опыта либо знаний, вы можете пройти у нас стажировку.
                        a(href="/") Оставить заявку >
                .block-link(style={background: 'url("./image/phone.png") no-repeat, #d1d1d1', float: 'right'})
                    .text
                        span Современная тех. поддержка
                        span Напишите или позвоните нам и мы ответим на все ваши вопросы.
                        a(href="/") Написать >