.container
    .section
        span.subtitle Наши клиенты
        .our-clients
            .swiper-clients-container.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        img(src="./image/chiaro-logo.png")
                    .swiper-slide
                        img(src="./image/grandavto-logo.png")
                    .swiper-slide
                        img(src="./image/molodostroy-logo.png")
                    .swiper-slide
                        img(src="./image/alyans-logo.png")
                    .swiper-slide
                        img(src="./image/avtolux-logo.png")
                    .swiper-slide
                        img(src="./image/karavaevi-logo.png")
                    .swiper-slide
                        img(src="./image/acvarium-logo.png")
                //.swiper-scrollbar