.slider
    .swiper-main-container.swiper-container
        .swiper-wrapper
            .swiper-slide
                img(src="./image/slide-1.png")
                .slider-content
                    .container(style={position: 'relative', height: '100%'})
                        .first-slide
                            span.slider-title Комплексный интернет маркетинг
                            span.slider-text от создания сайта и бренда до сопровождения,
                            span.slider-text продвижения и развития проекта
                            a(href="/") Подробнее
            .swiper-slide
                img(src="./image/slide-2.png")
                .slider-content
                    .container(style={position: 'relative', height: '100%'})
                        .second-slide
                            span.slider-title Автоматизация и оптимизация
                            span.slider-title бизнес-процессов компаний
                            span.slider-text Настройки CRM (Битрикс24), автоматизация бизнес-процесов
                            a(href="/") Подробнее
            .swiper-slide
                img(src="./image/slide-3.png")
                .slider-content
                    .container(style={position: 'relative', height: '100%'})
                        .third-slide
                            span.slider-title Есть идеи, но нет уверенности?
                            span.slider-text Закажи обратный звонок и получи бесплатную консультациюпо всем вопросам!
                            a(href="/") Заказать звонок
        .swiper-pagination