.under-slider
    .container
        .block(style={background: 'url("./image/internet-marketing.png") right bottom no-repeat'})
            a(href="/")
                span Комплексный интернет-маркетинг
        .block(style={background: 'url("./image/services-for-state-organization.png") right bottom no-repeat'})
            a(href="/")
                span Услуги для государственных организаций
        .block(style={background: 'url("./image/individual-site.png")right bottom no-repeat'})
            a(href="/")
                span Разработка индивидуального сайта
        .block(style={background: 'url("./image/elephant.png")right bottom no-repeat'})
            a(href="/")
                span Внедрение корпоративного портала