.our-works-content
	.container
		span.container__title Наши работы
		.our-works__list
			.our-works__list_left
				.our-works__list-block
					a.chiaro(href="#wind-chiaro")
						.our-works__list-block_img
							img(src="./image/chiaro.png")
							.our-works__list-block_hover
								span C
								span C
					span.our-works__list-block_text ChiaroCrystal – светильники для роскошных интерьеров
				.our-works__list-block
					a.ellmo(href="#wind-ellmo")
						.our-works__list-block_img
							img(src="./image/ayurveda.png")
							.our-works__list-block_hover
								span А
								span Б
					span.our-works__list-block_text AYURVEDA - Панчакарма в Ришикеше для оздоровления и омоложения
			.our-works__list_right
				.our-works__list-block
					a.karavaevi(href="#wind-karavaevi")
						.our-works__list-block_img
							img(src="./image/karavaevi.png")
							.our-works__list-block_hover
								span Б
								span К
					span.our-works__list-block_text Кулинарная лавка братьев Караваевых
				.our-works__list-block
					a.aqua(href="#wind-aqua")
						.our-works__list-block_img
							img(src="./image/aqua.png")
							.our-works__list-block_hover
								span M
								span A
					span.our-works__list-block_text Морской Аквариум на чистых прудах. Морская и пресноводная аквариумистика
		.our-works__text
			span.container__title Рыбатекст!
			span._little Товарищи! дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий. Равным образом укрепление и развитие структуры в значительной степени обуславливает создание систем массового участия. С другой стороны начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Значимость этих проблем настолько очевидна, что консультация с широким активом представляет собой интересный эксперимент проверки направлений прогрессивного развития. С другой стороны постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации соответствующий условий активизации. C другой стороны консультация с широким активом в значительной степени обуславливает создание дальнейших направлений развития. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений развития. Таким образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки форм развития. Не следует, однако забывать, что консультация с широким активом играет важную роль в формировании направлений прогрессивного развития.