.cause
	.container
		.section
			.cause_title
				span.container__title Создание качественных сайтов основное направление компании!
				img(src="./image/development-cause.png")
			.our-advantages
				span.subtitle 8 причин заказать у нас сайт!
				.our-advantages-main
					.row
						.our-advantages-block
							.block-header
								img(src="./image/hige-standarts.png")
								span Высокие стандарты
							span Мы ставим перед собой высокие стандарты, поэтому наши проекты высокого качества.
						.our-advantages-block
							.block-header
								img(src="./image/way-to-success.png")
								span Знаем путь к успеху
							span Опыт позволяет нам анализировать и видеть лучшие пути к успеху Вашего проекта.
						.our-advantages-block
							.block-header
								img(src="./image/ideals-and-projects.png")
								span Уникальные идеи и проекты
							span Мы генераторы идей, разрабатывать типичные проекты не в наших интересах!
						.our-advantages-block
							.block-header
								img(src="./image/personalas.png")
								span Квалифицированный персонал
							span Это позволяет нам делать проекты на высшем уровне, невозможное
					.row
						.our-advantages-block
							.block-header
								img(src="./image/settings.png")
								span Автоматизация процессов
							span Мы стараемся автоматизировать всякий бизнес-процесс.
						.our-advantages-block
							.block-header
								img(src="./image/information-support.png")
								span Информационная поддержка
							span Всегда рады оказать информационную поддержку по различных способам
						.our-advantages-block
							.block-header
								img(src="./image/modern-methods.png")
								span Современные методы
							span Наши проекты выполнены современными методами, ведь нужно идти в ногу со временем!
						.our-advantages-block
							.block-header
								img(src="./image/help-in-start-ups.png")
								span Помощь в стартапах
							span Мы готовы оказывать бесплатную помощь в интернет-стартапах, возможно даже разработать для Вас проект.
				a(href="/") Заказать сайт