.under-header
   .container
      .section
         ul
            li
               a(href="/")
                  img(src="./image/land.svg")
                  span Landing-Page
            li
               a(href="/")
                  img(src="./image/shop.svg")
                  span Интернет-магазин
            li
               a(href="/")
                  img(src="./image/corp.svg")
                  span Корпоративный сайт
            li
               a(href="/")
                  img(src="./image/visit.svg")
                  span Сайт-визитка
