.creation
	.container
		.section
			.creation_title
				span.container__title Разработка и создание индивидуального сайта!
				span._little Наверное, ни одна компания сейчас не обходиться без своего личного сайта. Если группа людей собралась открывать более-менее серьезный бизнес, то постоянная онлайн поддержка через корпоративный сайт должна быть рассмотрена в обязательном порядке.
	.creation_img
		img(src="./image/development-creation.png")
