.training
	.container
		.section
			.training-block
				.training-block_left
					span.container__title Обучение
					span.container__title._little Если вы не имеете достаточного опыта, либо знаний, вы можете пройти у нас стажировку со специалистами с возможностью дальнейшего трудоустройства.
				.training-block_right


