.training-order-form
	.training-order-text
		.container
			.training-order-text_p
				p Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации модели развития. Задача организации, в особенности же укрепление и развитие структуры позволяет выполнять важные задания по разработке существенных финансовых и административных условий.
	.order-form
		.container
			span.container__title Оставьте заявку на обучение
			form
				.area-input
					input(placeholder="Фамилия, Имя, Отчество")
					input(placeholder="Дата рождения")
					input(placeholder="Организация")
					input(placeholder="Контактный телефон или E-mail")
				.area-input
					input(placeholder="Ссылка на соц. сеть")
				.area-textarea
					textarea(placeholder="Сообщение")
				.container__title__button
					button Отправить резюме
