include layout/_headU
include layout/_header
include layout/main/_top-slider
include layout/main/_under-slider
include layout/main/_main-content
include layout/main/_our-advantages
include layout/main/_our-clients
include layout/_footer