include layout/promotion/_promotionU
include layout/_header
include layout/promotion/_promotion-content
include layout/promotion/_promotion-shema
include layout/promotion/_promotion-order-form
include layout/_footer