/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadProRegular";
    src: url("oRegular/MyriadProRegular.eot");
    src: url("oRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("oRegular/MyriadProRegular.woff") format("woff"),
    url("oRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBold"; */
@font-face {
    font-family: "MyriadProBold";
    src: url("oBold/MyriadProBold.eot");
    src: url("oBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("oBold/MyriadProBold.woff") format("woff"),
    url("oBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProItalic"; */
@font-face {
    font-family: "MyriadProItalic";
    src: url("oItalic/MyriadProItalic.eot");
    src: url("oItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
    url("oItalic/MyriadProItalic.woff") format("woff"),
    url("oItalic/MyriadProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProSemiBold"; */
@font-face {
    font-family: "MyriadProSemiBold";
    src: url("oSemiBold/MyriadProSemiBold.eot");
    src: url("oSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
    url("oSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("oSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBoldItalic"; */
@font-face {
    font-family: "MyriadProBoldItalic";
    src: url("oBoldItalic/MyriadProBoldItalic.eot");
    src: url("oBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("oBoldItalic/MyriadProBoldItalic.woff") format("woff"),
    url("oBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProSemiBoldItalic"; */
@font-face {
    font-family: "MyriadProSemiBoldItalic";
    src: url("oSemiBoldItalic/MyriadProSemiBoldItalic.eot");
    src: url("oSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("oSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),
    url("oSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansRegular"; */
@font-face {
    font-family: "OpenSansRegular";
    src: url("Regular/OpenSansRegular.eot");
    src: url("Regular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("Regular/OpenSansRegular.woff") format("woff"),
    url("Regular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansLight"; */
@font-face {
    font-family: "OpenSansLight";
    src: url("Light/OpenSansLight.eot");
    src: url("Light/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("Light/OpenSansLight.woff") format("woff"),
    url("Light/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansItalic"; */
@font-face {
    font-family: "OpenSansItalic";
    src: url("Italic/OpenSansItalic.eot");
    src: url("Italic/OpenSansItalic.eot?#iefix")format("embedded-opentype"),
    url("Italic/OpenSansItalic.woff") format("woff"),
    url("Italic/OpenSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBold"; */
@font-face {
    font-family: "OpenSansBold";
    src: url("Bold/OpenSansBold.eot");
    src: url("Bold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("Bold/OpenSansBold.woff") format("woff"),
    url("Bold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBold"; */
@font-face {
    font-family: "OpenSansExtraBold";
    src: url("ExtraBold/OpenSansExtraBold.eot");
    src: url("ExtraBold/OpenSansExtraBold.eot?#iefix")format("embedded-opentype"),
    url("ExtraBold/OpenSansExtraBold.woff") format("woff"),
    url("ExtraBold/OpenSansExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBoldItalic"; */
@font-face {
    font-family: "OpenSansExtraBoldItalic";
    src: url("ExtraBoldItalic/OpenSansExtraBoldItalic.eot");
    src: url("ExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("ExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff"),
    url("ExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBoldItalic"; */
@font-face {
    font-family: "OpenSansBoldItalic";
    src: url("BoldItalic/OpenSansBoldItalic.eot");
    src: url("BoldItalic/OpenSansBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("BoldItalic/OpenSansBoldItalic.woff") format("woff"),
    url("BoldItalic/OpenSansBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansRegularItalic"; */
@font-face {
    font-family: "OpenSansRegularItalic";
    src: url("RegularItalic/OpenSansRegularItalic.eot");
    src: url("RegularItalic/OpenSansRegularItalic.eot?#iefix")format("embedded-opentype"),
    url("RegularItalic/OpenSansRegularItalic.woff") format("woff"),
    url("RegularItalic/OpenSansRegularItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBold"; */
@font-face {
    font-family: "OpenSansSemiBold";
    src: url("SemiBold/OpenSansSemiBold.eot");
    src: url("SemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
    url("SemiBold/OpenSansSemiBold.woff") format("woff"),
    url("SemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBoldItalic"; */
@font-face {
    font-family: "OpenSansSemiBoldItalic";
    src: url("SemiBoldItalic/OpenSansSemiBoldItalic.eot");
    src: url("SemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("SemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"),
    url("SemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}