.advance-shema {
    background: url("../../../image/bg-prodvigenie-shema.png") no-repeat center center;
    background-size: cover;
    padding: 70px 0 130px 0;
    img {
        width: 100%;
    }
}