.creation {
    overflow: hidden;
    height: 937px;
    background: url("../image/development-creation.png") no-repeat center right;
    background-size: 40%;
    @include breakpoint("max-width:1024px"){
        background: none;
        height: 100%;
    }
    .creation_title {
        margin-top: 375px;
        text-align: center;
        width: 68%;
        float: left;
        @include breakpoint("max-width:1024px"){
            width: 100%;
            float: none;
            margin-top: 150px;
        }
    }
    .creation_img {
        display: none;
        width: 100%;
        margin: 100px auto;
        text-align: center;
        @include breakpoint("max-width:1024px"){
            display: block;
        }
        img {
            width: auto;
            max-width: 95%;
        }
    }
}