.cause {
    overflow: hidden;
    padding: 51px 0 0;
    background: #efefef;
    .cause_title {
        text-align: center;
        .container__title {
            width: 50%;
            margin: 0 auto 55px;
            @include breakpoint("max-width: 1024px") {
                width: 100%;
            }
        }
        img {
            width: auto;
            max-width: 95%;
        }
    }
    .our-advantages {
        padding: 56px 0 32px;
        margin: 0 auto;
        a {
            display: block;
            width: 128px;
            margin: 30px auto 0;
            background: #577fff;
            padding: 16px 56px;
            color: #ffffff;
            font-size: 20px;
            font-family: OpenSansLight, sans-serif;
            border-radius: 25px;
            outline: none;
            border: none;
            cursor: pointer;
            -webkit-transition: 0.3s;
            transition: 0.3s;
        }
    }
}
