.development-process {
    background: url("../image/development-bg-process.png") no-repeat center right #efefef;
    background-size: auto;
    padding: 52px 0 42px;
    img{
        width: auto;
        max-width: 95%;
    }
}