@import "utils/_variables";
@import "layout/_header";
@import "layout/main/_main";
@import "layout/_footer";

.container {
  width: $container;
  margin: 0 auto;
  max-width: 95%;
}
.section {
  width: $section;
  margin: 0 auto;
  max-width: 95%;
}
a {
  opacity: .85;
  text-decoration: none;
  &:hover{
    opacity: 1;
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
*:focus, *:target {
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "myriad-pro", sans-serif;
}
