.traffic
	.container
		.section
			.traffic_top-title
				span.container__title Продвижение по трафику
				span.container__title._little Повседневная практика показывает, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке дальнейших направлений развития. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий позволяет оценить значение форм развития. Идейные соображения высшего порядка, а также консультация с широким активом играет важную роль в формировании направлений прогрессивного развития. Идейные соображения высшего порядка, а также сложившаяся структура организации в значительной степени обуславливает создание существенных финансовых и административных условий.
				img(src="./image/traffic-arm.png")

			.traffic_shema
				span.container__title Схема продвижения сайта по трафику
				img(src="./image/traffic-shema.png")
				.traffic_shema_text
					span._little Повседневная практика показывает, что новая модель организационной деятельности требуют от нас анализа соответствующий условий активизации. Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Не следует, однако забывать, что дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание новых предложений. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий требуют определения и уточнения модели развития.
						a.open Читать полностью ...
						span.hidden-text Повседневная практика показывает, что новая модель организационной деятельности требуют от нас анализа соответствующий условий активизации. Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Не следует, однако забывать, что дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание новых предложений. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий требуют определения и уточнения модели развития.
			.advance-order-form
				.order-form
					.order-form__text
						img(src="./image/traffic-grafic.png")
					.order-form__form
						span.container__title Заказать продвижение
						form
							.area-input
								input(placeholder="Фамилия, Имя, Отчество")
								input(placeholder="Организация")
								input(placeholder="Контактный телефон или E-mail")
							.area-textarea
								textarea(placeholder="Сообщение")
							.container__title__button
								button Отправить