.result
	.container
		.section
			span.container__title Результат
			.result_top-box
				.result-list
					img(src="./image/promotion-checkbox.png")
					span Увеличение числа продаж
				.result-list
					img(src="./image/promotion-checkbox.png")
					span Уменьшение стоимости на привлечение клиента
			.result_bottom-box
				.result-list
					img(src="./image/promotion-checkbox.png")
					span Увеличение количества посетителей
				.result-list
					img(src="./image/promotion-checkbox.png")
					span Увеличение видимости сайта
.order-form
	.container
		.section
			span.container__title Оставьте заявку на оптимизацию
			form
				.area-input
					input(placeholder="Фамилия, Имя, Отчество")
					input(placeholder="Организация")
					input(placeholder="Контактный телефон или E-mail")
				.area-textarea
					textarea(placeholder="Сообщение")
				.container__title__button
					button Отправить
			.order-form__text
				span.container__title Продвижение сайтов
				span.container__title._little Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. С другой стороны консультация с широким активом играет важную роль в формировании форм развития. Задача организации, в особенности же новая модель организационной деятельности позволяет оценить значение новых предложений. Таким образом реализация намеченных плановых заданий играет важную роль в формировании соответствующий условий активизации.

