.promotion-shema
	.container
		.section
			span.container__title Заказав у нас продвижение сайта
			span.container__title Вы получаете 100% результат!
	.promotion-shema__img
		img(src="./image/promotion-shema.png")
		.container
			.section
				span._little Товарищи! постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки новых предложений. Товарищи! новая модель организационной деятельности представляет собой интересный эксперимент проверки дальнейших направлений развития. Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также сложившаяся структура организации влечет за собой процесс внедрения и модернизации соответствующий условий активизации.